@model FinalProject.Models.ViewModels.BookLessonViewModel
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
<!DOCTYPE html>

<!----------------------------------------------------------------------Navigation--->
<nav class="white" role="navigation">
    <div class="nav-wrapper container">
        <a id="logo-container" href="index.html" class="brand-logo">Lessons</a>
        <ul class="right hide-on-med-and-down">
            <li><a href="#" class="showLogin">Login<i class="material-icons left">keyboard_arrow_right</i></a></li>
            <li><a href="registerStudent.html">Register Student<i class="material-icons left">edit</i></a></li>
            <li><a href="registerTeacher.html">Register Teacher<i class="material-icons left">edit</i></a></li>
        </ul>
        <ul id="nav-mobile" class="sidenav">
            <li><a href="#" class="showLogin">Login<i class="material-icons left">keyboard_arrow_right</i></a></li>
            <li><a href="registerStudent.html">Register Student<i class="material-icons left">edit</i></a></li>
            <li><a href="registerTeacher.html">Register Teacher<i class="material-icons left">edit</i></a></li>
        </ul>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
    </div>
</nav>
<!----------------------------------------------------------------------Control Panel Navigation Links -->
<div id="navCPanel" class="section brown lighten-5">
    <div class="container" style="padding-bottom:15px;">
        <div class="container">
            <div class="row">
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">schedule</i>Schedule
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">mail_outline</i>Messages
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">developer_board</i>Statistics
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">history</i>Lessons History
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">person</i>Edit Profile
                    </a>
                </div>
                <div class="col l4 m6 s12 center-align" style="margin-top:10px;">
                    <a href="#" class="brown-text text-darken-4" style="font-size:20px;">
                        <i class="material-icons left small">group_work</i>Manage Groups
                    </a>
                </div>
            </div>
        </div>
    </div>
    <!----------------------------------------------------------------------Edit Profile-->
    <div class="section grey lighten-5">
        <div class="container">
            <div class="calendarContainer">

                <div class="calendarCol" date="Sunday">
                    <div class="calendarTitle">
                        @if (Model.Schedules.Count > 0)
                        {
                            @Model.Schedules.ElementAt(0).Date.ToString("dddd, dd/MM")
                        }
                    </div>
                    @foreach (var Schedule in Model.Schedules)
                    {
                        if (Schedule.IsTaken)
                        {
                            <div class="calendarDisabled">@Schedule.Start.ToString("h:mm tt")</div>
                        }
                        else
                        {
                            <a asp-controller="BookLesson" asp-action="BookLesson" asp-route-id="@Schedule.Id"><div class="calendarAvailable">@Schedule.Start.ToString("h:mm tt")</div></a>

                        }
                    }
                    @*<div class="calendarDisabled">08:00</div>
        <div class="calendarDisabled">09:00</div>
        <div class="calendarDisabled">10:00</div>
        <div class="calendarAvailable">11:00</div>
        <div class="calendarAvailable">12:00</div>
        <div class="calendarAvailable">13:00</div>
        <div class="calendarTaken">14:00</div>
        <div class="calendarAvailable">15:00</div>
        <div class="calendarTaken">16:00</div>
        <div class="calendarAvailable">17:00</div>
        <div class="calendarDisabled">18:00</div>
        <div class="calendarDisabled">19:00</div>
        <div class="calendarDisabled">20:00</div>
        <div class="calendarDisabled">21:00</div>
        <div class="calendarDisabled">22:00</div>*@
                </div>
            </div>
        </div>
        <div>
            
            @for (int i=0;i<Model.AvailableDaysObj.Count;i++)
            {
                <a asp-controller="BookLesson" asp-action="AvailableLessons" asp-route-Teacher="@ViewBag.TeacherId" asp-route-ReqDate="@Model.AvailableDaysObj.ElementAt(i)">@Model.AvailableDaysStr.ElementAt(i)</a> <br />
            }
        </div>
        @*<div id="test">
            </div>*@
    </div>
